body{
	background-color:aliceblue;
	padding: 20px;
}
header{
	color:aliceblue;
	font-family:Georgia, 'Times New Roman', Times, serif;
	border-radius: 15px;
	background-color:midnightblue;
	padding:20px;
}
h1{
	font-size:18px;
}
h2{
	font-size:15px;
	margin: 10px 10px;
}
h3{
	font-size:12px;
	margin: 10px 25px;
}
h4{
	margin: 20px 0px 0px -5px;
}
p{
	margin: 10px 0px 0px -5px;
}

header #enunciado{
	background-color:lavender;
	border-radius: 15px 50px 30px 5px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color:black;
	padding: 10px;
}
header #enunciado p{
	margin: 10px;
}
header #enunciado p{
	margin: 10px;
}


#buttonsCont{
	font-weight: bold;
	font-size: 20px;
	text-align: center;  
	margin:20px;
}

button {
	margin: 10px 20px;
	box-shadow: 0px 6px 2px -1px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:25px;
	border:3px solid #364f9c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:19px 28px;
	text-decoration:none;
	text-shadow:1px 3px 7px #283966;
}
button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}

#message{
	font-size:20px;
	font-weight: bold;
	text-align: center;  
	margin:20px;
}




table {
	margin: auto;
	width: 100%;
	background-color: #cbcbcb;
    border-collapse:separate;
    border-radius:0  0 15px 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}


table div{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	border: solid 2px#cbcbcb;
	background-color: #cbcbcb;
	border-radius:80px  80px 0 0;
}
caption{
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px rgb(54, 49, 49);
	color: #857a70;
	opacity: 0.7;
	font-size: 35px;

}


td, th {
	padding: 5px;
}
td{
	border-collapse:separate;
	border: solid 1px black;

}
th{
	border:none;
}

thead th {
    background-color:blue;
	color: white;
	font-size: 16px;
}

tbody th {
    background-color:lightgreen;
	border: solid 1px  #cbcbcb;
	color:rgb(0, 44, 0);
}

tbody tr:last-child th{
	border-radius:0  0 0 15px;
}
tbody tr:last-child td:last-child{
	border-radius:0  0 15px 0;
}
footer{
	margin-top: 20px;
	border-radius: 25px;
	background-color:midnightblue;
	color:white;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	padding:10px;
}
footer p{
	margin-top: 0;
}

@media only screen and (max-width: 1000px) {
	body{
		background-color: black;
	}
	 
	
}